body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial'';
}

.sec1 {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: white;
    outline-color: black;
}

.menu {
    float: right;
    top: 1.7rem;
    right: 1rem;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
}

.nav .menu {
    height: 3px;
    background-color: blue;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 35px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: cyan;
    z-index: 1;
    border-bottom:1px solid blue;
}

p {
    color: white;
    size: 50px;
}

h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.collumn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.collumn .sec1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial';
    color: white;
}

.Dev {
    width: 50%;
    margin: 0 auto;
}

.Dev img {
    width: 80%;
    border-radius: 50%;
}

#copyright {
    color: white;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

.collumn #copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    color: white;
}